# dot files
.env
.DS_Store

# DB locale
db.json

# CSV generati
CSV/

# EXPORT generati
EXPORT/

# Log vari
*.log

# Node.js standard
node_modules/
npm-debug.log
dist/

# Build frontend
frontend/dist/
frontend/node_modules/

